$main-white: #f5f6f3;
$button-cta: #dc9001;

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 30rem;
  font-family: "Lato", sans-serif;
  background-color: $main-white;
  padding: 2rem;
}

.title {
  font-weight: 800;
  padding: 1rem;
}

.titleContainer {
  font-weight: 800;
  padding: 1rem;
  text-align: center;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 30rem;
  @media (max-width: 600px) {
    flex-direction: column;
    padding: 2rem 0;
  }
}

.card {
  border-width: 2px;
  border-radius: 12px;
  border-color: #e4bc62;
  background-color: white;
  margin: 1rem 0;
  padding: 1rem;
  width: 326px;
}

.button {
  background-color: $button-cta !important;
  color: $main-white;
}
