.container {
  background-color: #f5f6f3;
  font-family: "Lato", sans-serif;
  color: #064420;
}

.coming {
  font-weight: 800;
  color: #e4bc62;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-size: contain;
  min-height: 30rem;
  @media (max-width: 600px) {
    flex-direction: column;
    padding: 2rem 0;
  }
}

.title {
  font-weight: 800;
  padding: 1rem;
}

.card {
  border-width: 2px;
  border-radius: 12px;
  border-color: #e4bc62;
  background-color: white;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  width: 326px;
}
