.main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.content {
  height: 100vh;
  width: 100vw;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65));
  text-align: center;
  color: #fbf8f1;
}

.topContent {
  margin: 2rem 0.5rem;
}

.bottomContent {
  margin: 4rem 0;
}

.title {
  font-size: 6rem;
  font-family: "Satisfy", cursive;
  line-height: 6rem;
}

.description {
  font-size: 2.5rem;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI";
}

.weddingDate {
  font-size: 3.5rem;
  font-family: "Satisfy", cursive;
}

@media (max-width: 600px) {
  .description {
    font-size: 1.8rem;
  }

  .title {
    font-size: 5rem;
  }

  .bottomContent {
    margin: 2rem 0;
  }

  .weddingDate {
    font-size: 2.5rem;
  }
}
